/* */ *{outline: 1px solid rgba(225,0,0, 0.4);

}

/*--------------------------------------------------
header
----------------------------------------------------*/
.header{
	height: 80px;
}
.header img{
	height: 100%;
	padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu{
	position: absolute;
    padding: 10px;
    top: 30px;
    right: 180px;
}
.menu li{
	display: inline-block;
	list-style: none;
    border-right: 2px solid #ccc;}
.menu a{
	text-decoration: none;
	color: #ccc;
    padding-right: 15px;
}
.menu li:last-child{
	border-right: none;
}

/*--------------------------------------------------
Nosotros
----------------------------------------------------*/
.cont-img-b{
	height: 176px;
    overflow: hidden;
    position: relative;
}
.img-banner{
	width: 100%;
    height: 318px;
    background: url(../img/semilla.jpg);
    background-repeat: no-repeat;
    background-size: 100% 145%;
    position: absolute;
    top: -142px;
}
.text-banner{
	padding: 40px 190px;
    text-align: center;
    color: #9b9b9b;
    font-size: 10px;
    background: #f2f2f2;
}
.fila-nost{
	text-align: center;
	margin-left: 0px;
}

.fila-nost .col-6 img{
	position: relative;
    padding: 40px 40px 0 40px;
    height: 130px;
}
.text-v-m{
	text-align: center;
    color: #9b9b9b;
    font-size: 10px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 40px;
}

.cont-metodo{
	height: 255px;
	overflow: hidden;
}
.cont-metodo{
	position: relative;
	text-align: center;
}
 .metodo,.metodologia{
 	position: absolute;
 	width: 50%;
 	height: 300px;
 }
.metodo img,.metodologia .m-fondo{
	width: 100%;
}
.metodologia{ 
	left: 50%;
}
.metodologia .ico-metod{
	position: absolute;
	top: 60px;
    width: 35px;
}
.metodologia p{
	position: absolute;
	top: 40%;
    left: 46%;
    color: #fff;
}
.metodologia .text-metod{
	position: absolute;
    font-size: 10px;
    top: 55%;
    left: 0;
    color: #fff;
    padding: 0 70px;
}
/*--------------------------------------------------
Sevicios
----------------------------------------------------*/


.Servicios{
	text-align: center;
	margin: 50px 50px 0 50px;
	font-family: Arial;
}
.Servicios p{
	font-size: 12px;
	margin: 20px 50px;
}
.list-serv ul{
	list-style: none;
}
.list-serv li{
	display: inline-block;
	margin: 20px auto;
}
.list-serv a{
	text-decoration: none;
	color: #088A08;	
}
.list-serv h5{
	padding: 0 50px;
}
.list-serv p{
	margin: 20px 0px;
	font-size: 9px;
	color: #848484;
}
.list-serv .uno{
	padding: 0 10px;
	margin-bottom: -16px;
	padding: 0;
}
.list-serv .dos{
	margin-bottom: -12px;
	padding: 0;
	font-size: 12.1px
}
.list-serv .tres{
	margin-bottom: -15px;
}
.Proyectos{
	background-color: #4B610B;
	font-family: Arial;
	text-align: center;
}
.Proyectos h4{
	text-align: left;
	padding-left: 80px;
	margin-bottom: 2px;
}
.Proyectos .imagen{
	margin: 60px auto;
}
.Proyectos img{
	height: 180px;
	width: 280px;
	margin-top: -2px;
}